body {
	background-color: white;
	text-align: center;
	margin-top: 100px;
	font-family: "Titillium Web";
	color: #123456
}

img{
	width : 150px; height : 150px;
  border: none;
  border-radius : 75px;
}

img:hover{
	opacity: 0;
	transition: 1.5s;
}

div{
	display:hidden;
}


